#map {
    width: 100%;
    z-index: 1;
    height: 100vh;
}

@media (max-width: 768px) {
    #map {
        height: 90vh;
    }
}


.leaflet-container {
    height: 100%;
}

.price {
    background: unset;
    box-shadow: none;
    border: none;
}

.Map {
    padding-left: 0;
    padding-right: 0;
}

.Map>.row {
    --bs-gutter-x: 0
}