#root {
 /* max-width: 1280px; */
    margin: 0 auto;
    /* //  padding: 2rem; */
    text-align: center;
    color: rgba(34, 34, 34, 0.87);
    background-color: #CEB9AA;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.app-name {
    color: #ffdd55;
    word-wrap: break-word;
}

.logo {
    width: 100%;
    padding: 1.5em;
}


.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

#signup>p>button,input{
    max-width: 100%;
}
#signup>input{
    max-width: 100%;
}

#NavBarMobile{
    position: fixed;
    height: 10vh;
    width: 100vw;
    background-color: #A16842;
    z-index: 99999;
    bottom: 0;
    /* left:0; */
    align-items: center;
    display: flex;
}

#NavBarMobile>.row{
    width: 100%;
}

a{
    color: #ffdd55!important;
}

.ColBar{
    width: 33vw;
    max-width: 33vw;
}

.ItemBar>svg{
    width: min(10vw,35px);
    height: min(10vw,35px);
}

.Page{
    width: 100%;
}